* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #4accfe;
}

.header-weather-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.weather-search-form {
  position: relative;
}

.bi-search {
  position: absolute;
  left: 0.55rem;
  top: 0.66rem;
  font-size: 85%;
}

.weather-search {
  width: 13rem;
  border: none;
  background-color: #0197d0;
  padding: 0.65rem 1.8rem;
  border-radius: 1rem;
}

.weather-search::placeholder {
  color: white;
}

.weather-search:focus {
  color: white;
  background-color: #017eae;
  outline: none;
}

.change-theme {
  display: flex;
  align-items: center;
}

#toggleDark {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.location-btn {
  display: block;
  background-color: #0197d0;
  border: none;
  cursor: pointer;
  margin: 1.5rem auto;
  padding: 0.6rem;
  border-radius: 0.8rem;
}

.location-btn:hover {
  background-color: #017eae;
}

.bi-geo-alt-fill {
  padding-right: 0.2rem;
}

.weather-main {
  margin-bottom: 1.5rem;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.city {
  font-size: xx-large;
}

.date-time {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.weather-units {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.unit-celsius,
.unit-farenheit {
  cursor: pointer;
  padding: 0.3rem;
}

.unit-celsius:hover,
.unit-farenheit:hover {
  background-color: #0197d0;
  border-radius: 0.5rem;
}

.current-unit {
  margin-top: 0.3rem;
}

.weather-icon {
  width: 40%;
}

.temp {
  font-weight: 600;
  font-size: 5rem;
}

.temp-min-max {
  display: flex;
  gap: 0.5rem;
}

.temp-min,
.temp-max {
  padding: 0.5rem;
}

.current-weather-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.weather-card-container {
  display: flex;
  gap: 1rem;
}

.weather-card .bi {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.weather-realfeel,
.weather-humidity,
.weather-wind,
.weather-pressure {
  font-size: 90%;
}

.forecast-weather-title {
  margin: 1.5rem;
}

.weather-forecast-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.weather-card,
.weather-forecast-card {
  display: flex;
  align-items: center;
  background-color: #01a3e1;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
}

.weather-forecast-card {
  flex-direction: column;
  justify-content: center;
  width: 10rem;
  text-align: center;
}

.day-one,
.day-two,
.day-three,
.day-four,
.day-five {
  font-weight: bold;
}

.footer {
  font-size: 80%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .weather-search {
    width: 35rem;
  }

  .theme-mode {
    font-size: 1.2rem;
  }

  .weather-icon {
    width: 14rem;
  }

  .forecast-weather-title {
    margin-top: 2rem;
  }

  .weather-forecast-card-container {
    display: flex;
    justify-content: center;
  }

  .weather-forecast-card {
    width: 17.6rem;
  }

  .footer {
    font-size: 100%;
  }
}